.top-bar{
    height: 80px;
    background: var(--main-color);
    display: flex;
    align-items: center;
    position: fixed;
    z-index: 100;
    width: 100%;
}

.top-bar img{
    width:250px;
}

.navbar-container{
    width: 100%;
}

@media screen and (max-width: 425px) {

    .top-bar{
        height: 60px;
      
    }
    .top-bar img{
        width:150px;
    }
}
@media screen and (min-width: 425px) and (max-width: 768px) {

    .top-bar{
        height: 60px;
      
    }
    .top-bar img{
        width:190px;
    }
}